<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="nav.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    <li class="nav-item-container-1">
                        <div class="navbtn">1234</div>
                    </li>
                    <li class="nav-item-container nav-item-container-2">
                        <div class="navbtn">
                            569 22
                        </div>
                    </li>
                    <li>
                        <div class="navbtn">
                        </div>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </li>
                    <li>
                        <div class="navbtn">
                            90
                        </div>
                    </li>
                    <li>
                        <div class="navbtn"></div>
                    </li>

                </ul>
            </nav>
        </header>
    </div>
</body>

</html>