/* ui item */
/* https://ru.bem.info/methodology/quick-start/ */

.base-ui-block {
  display: flex;
  margin: 0 0 0 0;
}

.base-ui-element {
  display: flex;
  margin: 0 0 0 0;
}

.base-ui-modifier {
  display: flex;
  margin: 0 0 0 0;
}
