<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - simple adaptive navbar with qjuery</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="nav">
  <div id="button" class="nav__btn"><i class="fa fa-bars"></i></div>
  <ul id="menu" class="nav__list">
    <li class="nav__item"><a href="#" class="nav__link">item1</a></li>
    <li class="nav__item"><a href="#" class="nav__link">item2</a></li>
    <li class="nav__item"><a href="#" class="nav__link">item3</a></li>
    <li class="nav__item"><a href="#" class="nav__link">item4</a></li>
    <li class="nav__item"><a href="#" class="nav__link">item5</a></li>
    <li class="nav__item"><a href="#" class="nav__link">item6</a></li>
  </ul>
</nav>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script><script  src="./script.js"></script>

</body>
</html>
