/* */
.customer_reviews_tab {
  margin-top: 10px;
  margin-bottom: 20px;

  padding: 0px 0px;

  display: flex;
  flex-direction: column;
}

.average_rating_panel {
  width: 100%;
  border: 1px solid #000;
}

.review_item {
  background-color: chocolate;
  border: 1px solid #000;
  padding: 20px 20px;
}

.star-progress-item {
}

.star-progress-item progress {
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 30px;
}

.star-progress-item progress:hover {
  /*border: 1px solid #000;*/
}

.star-progress-item progress::-webkit-progress-bar {
  background-color: #bb1919;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
