/* */
.customer_reviews_tab {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.average_rating_panel {
  /*width: 100%;*/
  padding-right: 25px;
  padding-bottom: 20px;
}

.rating-container {
  margin-top: 10px;
}

.reviews-list-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.review-item {
  padding: 20px 20px;
  /*background-color: #fdfdfd;*/
  /*background-color: #fafafa;*/
  background-color: #fefefe;
  /*box-shadow: 10px 5px 5px #fdfdfd;*/
}

.stars-progress-items-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  row-gap: 5px;
}

.star-progress-item {
  padding-top: 1px;
  padding-bottom: 1px;
}

.star-progress-item progress {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 20px;
  /*border: 1px solid #0f1111;*/
}

.star-progress-item progress:hover {
  /*border: 1px solid #000;*/
}

.star-progress-item progress::-webkit-progress-bar {
  background-color: #97a2a8;
  border-radius: 2px;
  box-shadow: 0 2px 5px #00000040 inset;
}

progress[value]::-webkit-progress-value {
  background-color: goldenrod;
}

.star-progress-item a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 5px;
}

.star-progress-item a span {
  width: 45px;
}

.star-progress-item a:link {
  color: #007185;
}

.star-progress-item a:visited {
  color: #007185;
}

.star-progress-item a:active {
  color: blue;
}

.star-progress-item a:hover {
  color: goldenrod;
}

/* comment card */
.comment-card {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.comment-card .avatar-part {
  display: flex;
  flex-direction: column;
  background-color: #007185;
}

.comment-card .comment-part {
  display: flex;
  flex-direction: column;
  background-color: darkorange;
}

/* avatar*/
.avatar-part .comment-avatar {
}

.avatar-part .comment-nick-name {
  background-color: yellow;
}

/*comment-part */
.star-date {
}
