/* tech specs tab */
.tech_specs_tab {
  margin: 0px 0px;
  padding: 0px 0px;
}

.tech_specs_tab-header {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.tech_specs_tab-header span:nth-child(1) {
  color: #000;
  font-weight: 600;
}

.tech_specs_tab-header span:nth-child(2) {
  color: #999;
}

.tech_specs_table {
  /*border: 1px solid #000;*/
  margin-top: 10px;
  margin-bottom: 20px;
}

.tech_specs_table table {
  width: 100%;
}

.tech_specs_table table tbody {
  width: 100%;
}

.tech_specs_table tr {
  width: 100%;
}

.tech_specs_table tr.prod-specs-header th {
  font-size: 14px;
  width: 100%;
  text-align: left;
  padding-top: 15px;
}

.tech_specs_table tr.prod-specs-data:nth-child(even) {
  background-color: #dae9f2;
}

.tech_specs_table td:first-child {
  width: 30%;
  border-right: 2px solid #dcdcdc;
}

.tech_specs_table td {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #000;
  padding: 6px 25px;
  height: 100%;
}

.add-info {
  margin-top: 25px;
}
