/* pif */
.product-info-filters-container {
  /*display: flex;*/
}

.product-info-filters-filter-control {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.product-info-filters-filter-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
/* переписываеться копками */
/* default */
.pif-checkmark {
  /*background-color: green;*/
}

/* On mouse-over, add a grey background color */
/* hover */
.product-info-filters-filter-control:hover input ~ .pif-checkmark {
  /*background-color: red;*/
}

/* When the radio button is checked, add a blue background */
/* active */
.product-info-filters-filter-control input:checked ~ .pif-checkmark {
  /*background-color: blue;*/
}

.product-info-filters-group-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

/***********************************************/
/* TODO: buttons here and see radio button checker on buttom */

.pif-btn {
  min-width: 70px;
  text-align: center;
  padding: 5px 10px 5px 11px;

  font-size: 16px;
  line-height: 20px;

  color: #0f1126;
  background-color: #fefaf6;
  border: 1px dashed #fefaf6;
}

.pif-btn-default {
  /*background-color: #fafafa;
  border: 1px solid #f3f3f3;*/
  background-color: inherit;
  border: 1px solid #b3b3b3;
}

.pif-btn-active {
  background-color: #fefaf6;
  border: 1px solid #e27822;
  font-weight: 700;
}

.pif-btn-disabled {
  background-color: inherit;
  /*border: 1px dashed #d9d9d9;*/
  border: 1px dashed #b3b3b3;
  color: #ccc;
}

.pif-btn:hover {
  background-color: #e6e6e6;
}

.puf-fieldset {
  display: flex;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.puf-fieldset {
  border-color: rgba(0, 0, 0, 50);
  border-style: solid;
  border-width: 5px;
}

.product-info-filter-name {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  column-gap: 5px;
}

.product-info-filter-name-left {
}

.product-info-filter-name-right {
  font-weight: 700;
}

/********************/

/* radio button checker */

/*

/* default */
.pif-checkmark {
  background-color: inherit;
  border: 1px solid #b3b3b3;
}

/* On mouse-over, add a grey background color */
.product-info-filters-filter-control:hover input ~ .pif-checkmark {
  /* hover */
  background-color: #e6e6e6;
}

/* When the radio button is checked, add a blue background */
/*active*/
.product-info-filters-filter-control input:checked ~ .pif-checkmark {
  background-color: #fefaf6;
  border: 1px solid #e27822;
  font-weight: 700;
}

/* fieldset */
.product-info-content fieldset {
  border: unset;
  /*border-bottom: 1px solid #b3b3b3;*/
}
