/* buttons */
.product-info-actions-buttons-container {
}

.product-info-actions-btn {
  background-color: #fcfae3;
  color: #020001;

  min-width: 180px;
  height: 60px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*   
color: #f2bd1d; - buy
  color: #0b7abf;
    color: #343d46;
    color: #97a2a8;
*/
