/* breadcrumb */
/* Style the list */

ul.breadcrumb {
  padding: 2px 16px;
  list-style: none;
  /*background-color: #eee;*/
  background-color: inherit;
  /*color: #DCEBF5;*/
  color: #f5f4dc;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 22px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
  /*content: "\003E";*/
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  /*color: #DCEBF5;*/
  color: #f5f4dc;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
