.cart-page-header-box {
  background-color: #97a2a8;
  color: #333;
  box-shadow: #00000059 0px 5px 15px;
  border: 2px solid #ffffffff;
  border-radius: 3px;
  padding-left: 50px;
  padding-bottom: 5px;
  padding-right: 50px;
  padding-top: 5px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /* justify-content: center; */ 
  /*align-self: center;*/
  align-content: center;

  min-height: 50px;
  min-width: 600px;
}

.cart-page-header-box h1 {
}

.shopping-cart-page-container {
  background-color: #fafafa;
  color: #0f1111;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  row-gap: 20px;
  column-gap: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 25px;
  box-shadow: 7px 7px 12px -9px #777;
}

.shopping-cart-items-list {
}

.shopping-cart-items-list ul {
  list-style: none;
  margin: 0px 0px;
  padding: 0px 0px;
}

.shopping-cart-items-list ul li {
  margin: 0px 0px;
  padding: 0px 0px;
}

.cart-item {
  min-height: 80px;
  min-width: 600px;
  background-color: #97a2a8;
  border-bottom: 5px solid #333;
}

.shopping-cart-header {
  min-height: 80px;
  min-width: 600px;
  background-color: #97a2a8;
  border-bottom: 5px solid #333;
}

.shopping-cart-footer {
  min-height: 80px;
  min-width: 600px;
  background-color: #97a2a8;
  border-bottom: 5px solid #333;
}
