.main-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* Сверху | Справа | Снизу | Слева */
  margin: 0px 0px 0px 0px;
  padding-top: 30px;

  /*background-color: #020002;*/
  background-color: #202020; /*333*/
  color: #f0f0f0;
  width: auto;
  min-height: 100px;
  justify-content: center;
  align-content: center;

  border-top: 4mm solid #4a6575;
}

.main-footer div.main-footer-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #202020;
  color: #f0f0f0;
  justify-content: flex-start;
  align-content: flex-start;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.main-footer div.main-footer-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #202020;
  color: #f0f0f0;
  justify-content: center;
  align-content: flex-start;
  padding: 0px 20px;
}

.main-footer div.footer-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #202020;
  color: #707070;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0px 20px;
  margin-top: 10px;
}

.column-heading {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;

  color: #f0f0f0 !important;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  padding: 0px 20px;
  margin-bottom: 10px;
  min-width: 120px;
  min-height: 40px;
}

.main-footer .main-footer-column.butrow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #020202;
  margin-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
  align-content: center;
}

.main-footer p,
.main-footer a {
  display: flex;
  background-color: #202020;
  color: #707070;
}

.main-footer p:hover,
.main-footer a:hover {
  display: flex;
  background-color: #202020;
  color: #f0f0f0;
}

.main-footer hr {
  display: flex;
  color: #e0c972;
  background-color: #e0c972;
  width: 650px;
}

.main-footer div.main-footer-column.butrow p,
.main-footer div.main-footer-column.butrow a {
  display: flex;
  background-color: #020202;
  color: #f0f0f0;
  justify-content: center;
  align-content: center;
}
