.main-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* Сверху | Справа | Снизу | Слева */
  margin: 0px 0px 0px 0px;
  padding-top: 30px;

  /*background-color: #020002;*/
  background-color: #333;
  color: #fafafa;
  width: auto;
  min-height: 100px;
  justify-content: center;
  align-content: center;

  border-top: 4mm solid #4a6575;
}

.main-footer div.main-footer-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #333;
  color: #fafafa;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 8px 100px;
}

.main-footer div.main-footer-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #333;
  color: #fafafa;
  justify-content: center;
  align-content: flex-start;
  padding: 8px 100px;
}

.main-footer .main-footer-column.butrow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #020202;
  margin-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
  align-content: center;
}

.main-footer div.main-footer-column.butrow p,
.main-footer div.main-footer-column.butrow a {
  display: flex;
  background-color: #020202;
  color: #fafafa;
  justify-content: center;
  align-content: center;
}

.main-footer p,
.main-footer a {
  display: flex;
  background-color: #333;
  color: #fafafa;
}

.main-footer p,
.main-footer a {
  display: flex;
  background-color: #333;
  color: #fafafa;
}

.main-footer hr {
  display: flex;
  color: #e0c972;
  background-color: #e0c972;
  width: 650px;
}
