body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /*background-color: var(--background-color); */
  /* background-color: #e6f1f8; */
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

div.wrapper section.left-bar,
main {
  margin-top: 100px;
}

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

/*
display: flex;
flex-wrap: wrap;
align-content: flex-start;
row-gap: 1rem;
column-gap: 2rem;
align-items: flex-start;
flex-direction: column;

*/

div.wrapper {
  background-color: #e6f1f8;
  /*background-color: azure;*/

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /*background-color: var(--background-color);*/

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between; /* а то нав бар скукожиться */
  align-items: flex-start;
  /*align-self: auto; for items */
  align-content: flex-start;

  row-gap: 1rem;
  column-gap: 2rem;
}

.main-header {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #81968f;
  /*
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  */
}

.main-footer {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: rgb(173, 212, 212);
}

.main-content {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /*background-color: #dcebf5;*/
}

.main-content > main {
  margin: 0px 0px 0px 0px;
  /* Сверху | Справа | Снизу | Слева */
  padding: 2rem 1rem 1rem 1rem;
  /*background-color: blanchedalmond;*/
  /*background-color: inherit;*/

  display: flex;
  /* TODO: select  right or left aside bar */
  flex-direction: row;
  /*flex-direction: row-reverse;*/

  /*flex-direction: column !important; for smart */

  justify-content: flex-start;

  align-items: stretch; /* base line */
  align-content: flex-start; /* center */

  /* отступ */
  /* gap: 50px;*/
  row-gap: 1rem;
  column-gap: 2rem;
}

.page-content {
  /*background-color: inherit;*/
  /*width: 100%;*/
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/#background */
/* flex layout ****************************************************************/
/* box for items */

/*
.flex-container{
    display: flex; 
    justify-content: flex-start;

    align-items: stretch; /* base line */ /*
    align-content: flex-start; /* center */

/* отступ */
/*
    row-gap: 10px;
    column-gap: 20px;
}

.flex-item-container{
    flex-basis: auto;
}
*/

/* page content */
