body{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: var(--background-color);
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

div.wrapper{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: var(--background-color);
}


.main-header{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: aquamarine;
}

.main-footer{
    margin: 0px 0px 0px 0px;  
    padding: 0px 0px 0px 0px;
    background-color: aqua;
}

.main-content{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: blanchedalmond;
}

.main-content>main{
    margin: 0px 0px 0px 0px;
    /* Сверху | Справа | Снизу | Слева */
    padding: 2rem 1rem 1rem 1rem;
    background-color: blanchedalmond;

    display: flex;
    justify-content: flex-start;

    align-items: stretch; /* base line */
    align-content: flex-start; /* center */

    /* отступ */
    /* gap: 50px;*/ 
    row-gap: 1rem;
    column-gap: 2rem;
}




/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/#background */
/* flex layout ****************************************************************/
/* box for items */

.flex-container{
    display: flex; 
    justify-content: flex-start;

    align-items: stretch; /* base line */
    align-content: flex-start; /* center */

    /* отступ*/
    row-gap: 10px;
    column-gap: 20px;
}

.flex-item-container{
    flex-basis: auto;
}


/* page content */
.page-content{
    background-color: cadetblue;
}


