/*
 https://www.w3schools.com/css/css_navbar_horizontal.asp 
 
 https://www.w3schools.com/css/css_dropdowns.asp
*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin-top: 100px;
  /* top nav h */
  /* Used in this example to enable scrolling */
}

.nav-bar-container {
  overflow: hidden;
  background-color: #333;
  /* position: fixed;  /* TODO:  fixed */
  top: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  flex-basis: auto;

  justify-content: space-around;

  height: var(--top-container-height-px);

  /* !!*/
}

.top-line-bar {
  background-color: #97a2a8;
  height: 20px;
}

.top-line-bar-btm {
  background: #33333359;
  height: 5px;
}

/*
.top-line-bar-btm-2 {
  background: linear-gradient(
    90deg,
    rgba(51, 51, 51, 1) 0%,
    ​#dcebf5,
    rgba(51, 51, 51, 1) 100%
  );
  height: 5px;
  transition: 0.2s linear;
  transition-duration: 5s, 5s, 5s, 5s;
}
*/

.hide-responsive {
}

.fuck-in-responsive {
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* flex container */
.topnav {
  overflow: hidden;
  background-color: #333;
  /* position: fixed;  /* TODO:  fixed */
  top: 0;
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  flex-basis: auto;

  justify-content: space-around;
  /* !!*/
}

/* flex item for .topnav  */
.topnav-base-block {
  align-self: stretch;
}

.topnav-left-block {
  /*align-self: flex-start; не то*/
  justify-content: flex-start;
}

.topnav-center-block {
  /*align-self:  center;не то*/
  justify-content: center;
}

.topnav-right-block {
  /*align-self: flex-end;не то*/
  justify-content: flex-end;
}

.topnav-fixed,
.fixed {
  position: fixed;
  z-index: 100; /* TODO: z-index top nav*/
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* search */
.topnav .search-container,
.topnav .search-container form {
  /*float: right; */

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  /* float: right; */
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/******************* dropdown *******************/

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  /*position: absolute;*/
  /*position: fixed; /* ! */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  /* !important;*/
  /* !!!*/
}

.topnav .gamburger-smart-icon {
  display: none;
}

/* sidebar-icon */
.sidebar-icon {
  color: chartreuse;
  background-color: #fa5df5;
}

/* TODO: SIDEBAT HERE AAAA*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;

  padding-top: 40px;
  margin-top: 70px;
  /*margin-top: var(--top-container-height-px);*/
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* SIDEBAR END */

/****************/

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /*color: #F5F4DC;*/

  /*    padding: 5px 5px;*/

  /*position: fixed;*/
  /*top: 0;*/
  /*width: 100%;*/
}

ul.navbar li {
  float: left; /* TODO: допилить эту хуйню*/
  /*border-right: 1px solid #bbb;*/
}

li:last-child {
  border-right: none;
}

ul.navbar li>a  /* ,.dropbtn */ {
  display: inline-block;
  color: #f5f4dc;
  text-align: center;
  /*padding: 14px 16px;*/
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li > a.mico {
  padding: 11px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end; /* выровнять */
  gap: 10px;
}

/* shop cart*/

/* notifications */
ul.navbar .notification {
  /*background-color: #555;*/
  /*color: white;*/
  text-decoration: none;
  /*padding: 15px 26px;*/
  position: relative;
  /*display: inline-block;*/
  /*  border-radius: 2px;*/
}

ul.navbar .notification:hover {
  /*background: #c71010;*/
  /*  color:black;*/
  /*background-color: #ff0000;*/
  transition: 0.2s linear;
}

ul.navbar .notification .badge {
  position: absolute;
  top: 0px;
  right: -5px;
  padding: 1px 5px;
  border-radius: 50%;
  background: #ff0000;
  color: white;
}

/* for material icons */
ul.navbar li > a.material-icon {
  padding: 2px 16px;
  margin: 0px 0px 0px 0px;
  font-size: 36px;
}

ul.navbar li > a.fontawesome-icon {
  padding: 10px 14px;
  margin: 0px 0px 0px 0px;
  font-size: 22px;
}

ul.navbar li.right {
  float: right; /* TODO: че за хуита бля */
}

ul.navbar li a:hover,
ul.navbar .dropdown:hover .dropbtn:hover {
  transition: 0.1s linear;
  background-color: #f5f5f5;
  color: #333333;
  /*font-weight: bolder;*/
}

.navbar .dropbtn:hover {
  transition: 0.1s linear;
  background-color: #f5f5f5;
  color: #333333;
  /*font-weight: bolder;*/
}

/* icon hover */
ul.navbar > li > a:hover > .icon {
  color: black;
  transition: 0.2s linear;
}

ul.navbar > li.dropdown {
  display: inline-block;
}

ul.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #e5f5dc; /* profile */
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
}

ul.navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: 0.1s linear;
}

ul.navbar .dropdown-content a:hover {
  /*background-color: #DCF5F1;
    color: black;*/
  transition: 0.1s linear;
  background-color: #f5f5f5;
  color: #333;
  font-weight: bolder;
}

ul.navbar .dropdown:hover .dropdown-content {
  display: block;
  transition: 0.1s linear;
}

.search-bar {
  text-align: center;
  /*padding: 14px 16px;*/
  color: #dcf5f1;
  margin-left: 80px;
  margin-top: 3px;
  font-size: 22px;
}

.search-bar input {
  width: 500px;
  height: 40px;
  font-size: 22px;
}

.search-bar .search-btn {
  font-size: 22px;
  height: 40px;
  width: 100px;
  cursor: pointer;
}

.search-bar > .material-icons-outlined {
  cursor: default;
  padding-left: 10px;
  padding-right: 6px;
  background-color: #e4b164;
  color: #333;
  padding-top: 5px;
  padding-bottom: 12px;

  font-size: 22px;
}

.search-bar select {
  font-size: 22px;
  height: 40px;
  background-color: #a2a899;
  cursor: pointer;
}

.navbar .spacer {
  /*margin-right: 50px;*/
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

/********************************************************/
/* MEGA MENU */
/* TODO: see it*/
/* Dropdown button */
.mega-dropdown .mega-dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.mega-dropdown > button {
  display: flex;
  gap: 0px 10px;
}

/* Dropdown content (hidden by default) */
.mega-dropdown-content {
  display: none;
  position: absolute;
  background-color: #caa5a5;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  /* From https://css.glass */
  /*
    background: #77a4db26;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
    border: 1px solid rgba(119, 164, 219, 0.77);
    */
}

/* Mega Menu header, if needed */
.mega-dropdown-content .header {
  display: flex;
  gap: 0px 15px;
  align-items: baseline;

  background: red;
  /*padding: 16px;*/
  color: white;

  padding-left: 28px;
}

.mega-dropdown-content .header i {
  font-size: 28px;
}

.mega-dropbtn:hover {
  background-color: #f5f4dc;
  color: #333;
  font-weight: bolder;
  transition: 0.2s linear;
}
/* Show the dropdown menu on hover */
.mega-dropdown:hover .mega-dropdown-content {
  /*background-color: #298158;*/
  display: block;
  transition: 0.2s linear;
}

/* Create three equal columns that floats next to each other */
.mega-menu .column {
  float: left;
  width: 250px;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

/* Style links inside the columns */
.mega-menu .column a {
  float: none;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
.mega-menu .column a:hover {
  background-color: #ddd;
  transition: 0.2s linear;
}

/* Clear floats after the columns */
.mega-menu .row:after {
  content: "";
  display: table;
  clear: both;
}

/* hover tabs ******************************/

/* Style the tab */
.tab {
  float: left; /* TODO: to flex*/
  border: 1px solid #ccc;
  background-color: #8dbb91;
  width: 300px;
  height: 800px;
  transition: 0.2s linear;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  transition: 0.2s linear;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  /* TODO: !!! */
  background-color: #e4b164;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  border-left: none;
  /*width: 700px;*/
  /*height: 300px;*/
  display: none;
}
