/*
 https://www.w3schools.com/css/css_navbar_horizontal.asp 
 
 https://www.w3schools.com/css/css_dropdowns.asp
*/



ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
}

ul.navbar li {
    float: left;
    /*border-right: 1px solid #bbb;*/
}

li:last-child {
    border-right: none;
}

ul.navbar li>a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* for material icons */
ul.navbar li>a.material-icon{
    padding: 2px 16px;
    margin: 0px 0px 0px 0px;
    font-size: 36px;
}


ul.navbar li.right {
    float: right;
}

ul.navbar li a:hover, ul.navbar .dropdown:hover .dropbtn {
    background-color: #298158;
}

ul.navbar>li.dropdown {
    display: inline-block;
}

ul.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 98%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
}

ul.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

ul.navbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}

ul.navbar .dropdown:hover .dropdown-content {
    display: block;
}


.search-bar{
    text-align: center;
    /*padding: 14px 16px;*/
    color: aquamarine;
    margin-left: 150px;
    margin-top: 3px;
    font-size: 22px;
}

.search-bar input{
    width: 700px;
    height: 40px;
    font-size: 22px;
}

.search-bar .search-btn{
    font-size: 22px;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.search-bar>.material-icons-outlined{
    cursor: default;
    padding-left: 10px;
    padding-right: 6px;
    background-color: #e4b164;
    color: #333;
    padding-top: 5px;
    padding-bottom: 12px;

    font-size: 22px;
}



.search-bar select{
    font-size: 22px;
    height: 40px;
    background-color: #a2a899;
    cursor: pointer;
}

.navbar .spacer{
    /*margin-right: 50px;*/
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}





/* phones */
/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media only screen and (max-width: 600px) {
    ul.navbar li.right, ul.navbar li {
        float: none;
        }    

}
