/* product page //////////////////////*/
/* TOOO: доделать */
.product-content-container{
    display: flex;
    flex-direction: row;

    padding-left: 50px;
    padding-right: 5px;
    width: 100%;
}

.product-content-body{
    /*height: 100%;*/
    width: 1200px;
    /*margin-left: 100px;*/
    font-family: Arial;

    margin-right: 50px;

}

.product-content-right{
    width: 450px;
    height: 1300px;
    background-color: #777;
    color: #eee;

}


/* Style tab links */
.tablink {
    width: 200px;
    height: 70px;

    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
}

.tablink.active {
border-bottom: 3px solid #314785;
transition: .2s linear;
}

.tablink:hover {
  background-color: #777;
  border-bottom: 3px solid #515358;
  transition: .2s linear;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 800px;
}

.tabcontent-container{
    display: flex;
    flex-direction: column;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}
#Links1 {background-color: rgb(112, 103, 85);}
#Links2 {background-color: rgb(112, 103, 85);}
#Links {background-color: rgb(78, 63, 33);}


.product-content-body>nav{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ul.nav-product-info{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ul.nav-product-info li{
    display: inline;
}

ul.breadcrumb {

}

/* tabs */
.all-product{

}

.all-specs{

}

.all-reviews{

}

.all-questions{

}

.photo-video{

}

.buy-with-it{

}