/* products */

/* scheme 
  products 
  grid-mod
  list-mod
*/

/* container*/
.products {
  display: flex;

  /* multi-lines */
  flex-wrap: wrap;

  justify-content: flex-start;
  /*align-content: stretch;*/
  align-items: stretch; /* base line */

  /* отступ*/
  row-gap: 20px; /*  между строками*/
  column-gap: 20px; /* между столбцами */

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 150px;

  box-shadow: 7px 7px 12px -9px #777;

  /*box-shadow: #00000059 0px 5px 15px;*/
}

/* see set_grid.js*/
/* TODO: grid here*/

.catalog-view-grid {
  /*background-color: rgb(204, 226, 230);*/

  flex-direction: row;
}

.catalog-view-list {
  /*background-color: rgb(82, 42, 82);*/
  flex-direction: column;
}

/* item *******************/
.products .product-card {
  flex-basis: auto;
  background-color: #fafafa;
  color: #000;
  margin: 0px 0px 0px 0px;
  /* Сверху | Справа | Снизу | Слева */
  padding: 0px 0px 0px 0px;
  border: 2px solid #f0f0f0;
  /*border: 1px solid #4a6575;*/
  border-radius: 3px;
  display: flex;
  transition: 0.2s linear;
  cursor: default;

  box-shadow: #00000059 0px 5px 15px;
}

.products .product-card:hover {
  /*background-color: #DCEBF5;*/
  transition: 0.2s linear;
  /*background-color: #f5f4dc;*/
  background-color: #fcfce3;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  /*
  box-shadow: rgba(74, 101, 117, 0.3) 0px 19px 38px,
    rgba(74, 101, 117, 0.2) 0px 15px 12px;
    */
}

.products .product-card a {
  color: #333333;
}

.products .product-card a:visited {
  color: #97a2a8;
}

.products.catalog-view-grid .product-card {
  /*width: 250px;*/
  width: 300px;
  flex-direction: column;
  height: auto;
}

.products.catalog-view-list .product-card {
  width: inherit;
  min-height: 180px;
  flex-direction: row;
}

/* ***** *******************/
.product-card-text {
  /*resp*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;

  width: inherit;
  /*display: inline;*/
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 10px;
  /*background-color: cadetblue; !*/
  background-color: inherit;
  overflow: hidden; /* TODO: overflow: hidden; */
}

.product-card-text .card-text {
  text-align: justify; /* Выравнивание по ширине */
}

.product-card .product-card-body .price-container {
  display: flex;
  align-items: baseline;
}

.products.catalog-view-grid .product-card .product-card-body .price-container {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.products.catalog-view-list .product-card .product-card-body .price-container {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px 20px;
}

.product-detals {
  margin-bottom: 15px;
}
.product-detals a {
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px #707070;
}
.product-detals a:hover {
  background-color: #e8e8e8;
}

.product-detals a span {
  color: #020202;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
}

.product-detals a span:hover {
  color: #0b7abf;
}

.card-title {
  color: #020202;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.card-title:hover {
  color: #0b7abf;
}

.products .product-card .product-card-body {
  /* Сверху | Справа | Снизу | Слева */
  padding: 12px 5px 12px 10px; /* TODO: разделить по гридам */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
  flex-grow: 1; /* URAAAA */
}

.products.catalog-view-grid .product-card .product-card-body {
}

.products.catalog-view-list .product-card .product-card-body {
}

.products .product-card .product-card-body .product-icons-container {
  /*float: right;*/
  /*background-color: #ccc;*/
}

.products
  .product-card
  .product-card-body
  .product-icons-container
  .product-icons {
  margin-right: 10px;
  padding-right: 10px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
  flex-grow: 1; /* URAAAA */
  height: 100%; /* URAAAA */
  background-color: inherit;
}

.products.catalog-view-grid .product-card .product-card-body .product-icons {
}

.products.catalog-view-list .product-card .product-card-body .product-icons {
}

.products .product-card .product-card-body .product-icons a {
  width: 30px;
  height: 30px;
  color: #343d46;
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.products .product-card .product-card-body .product-icons a.addet {
  color: #0b7abf;
}

.products .product-card .product-card-body .product-icons a:hover,
.products .product-card .product-card-body .product-icons a.addet:hover {
  color: #f2bd1d;
}

.products .product-card .product-card-body .star-rating {
  color: #97a2a8;
  background-color: none;
}

.products .product-card .product-card-body .star-rating > .checked {
  color: goldenrod;
  background-color: none;
}

.card-img-top-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%; /* resp */
  /*1.38*/
  min-width: 250px;
  min-height: 180px;

  max-width: 350px;
  max-height: 253px;
}

img.card-img-top {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /*padding: 7px;*/
  background: no-repeat;
  /* 1.38 */
  /*width: 250px;
  height: 180px;
  */
  min-width: 250px;
  min-height: 180px;

  max-width: 350px;
  max-height: 253px;

  width: 100%; /* resp */
}

.card-img-top-container .img-box {
  min-width: 250px;
  min-height: 230px;

  max-width: 350px;
  max-height: 253px;
}

/* chechbox ******************************************************************/

/* The container */
.checkbox-container {
  margin-top: 0px; /* .checkbox-container .checkmark {   top: 10px; */
  margin-left: 0px; /* все поедет */

  display: block;
  position: relative;
  /*padding-left: 35px;*/
  cursor: pointer;
  font-size: 22px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
  /* TODO: cpace chechbox here */

  position: absolute;
  top: 10px;
  left: 10px;
  height: 25px;
  width: 25px;
  /*background-color: #eee;*/
  background-color: #f5f5f525;
  border: 2px solid #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #f5f4dc;
  border: 3px ridge #eee;
  box-shadow: 3px -3px 3px 0px #777;
  /*  box-shadow:7px 7px 12px -9px #777;*/
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2195f383;
  border: 2px solid #eee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: 2px solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*****************************************************************************/
