/* select  */
/*******************************************************/
/* TODO: хавает селект */

.search-container .search-select select {
  display: none; /*hide original SELECT element: */
}

/* The container must be positioned relative: */
.search-container .search-select {
  width: 160px;
  position: relative;
  /*font-family: Arial;*/
  margin: 0px 0px 0px 0px;

  padding-top: 0px; /*6*/
  padding-bottom: 0px;
  padding-left: 0px; /*6*/
  padding-right: 0px;
}

.search-container .search-select .select-selected {
  background-color: #97a2a8;
  /* TODO: see navvar.css .topnav .search-container { * */
  padding-top: 10px;
  padding-bottom: 8px;

  padding-left: 15px;
  padding-right: 0px;
}

/* Style the arrow inside the select element: */

.search-container .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* hide arrow 
.search-container .search-select .select-selected:after {
  visibility: hidden;
}
*/

/* Point the arrow upwards when the select box is open (active): */
.search-container .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.search-container .select-items div,
.search-container .select-selected {
  color: #333333;
  padding: 8px 16px;
  border: 1px solid transparent; /* TODO: шо-то придумать */
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.search-container .select-items {
  position: absolute;
  background-color: #97a2a8;
  top: 100%;
  left: 0;
  right: 0;

  /*overflow: visible !important;*/
}

/* Hide the items when the select box is closed: */
.search-container .select-hide {
  display: none;
}

.search-container .same-as-selected {
  background-color: #dcebf5;
}
.search-container .select-items div:hover {
  background-color: #f5f4dc;
  font-weight: bolder;
}

/*-------------------*/
