/* select  */
/*******************************************************/
/* TODO: хавает селект */

/* The container must be positioned relative: */
.products-list-header .custom-select {
  position: relative;
  /*font-family: Arial;*/
}

.products-list-header .custom-select select {
  display: none; /*hide original SELECT element: */
}

.products-list-header .select-selected {
  background-color: #97a2a8;
}

/* Style the arrow inside the select element: */

.products-list-header .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.products-list-header .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.products-list-header .select-items div,
.products-list-header .select-selected {
  color: #333333;
  padding: 8px 16px;
  border: 1px solid transparent; /* TODO: шо-то придумать */
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  z-index: 150;
}

/* Style items (options): */
.products-list-header .select-items {
  position: absolute;
  background-color: #97a2a8;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;

  /*overflow: visible !important;*/
}

/* Hide the items when the select box is closed: */
.products-list-header .select-hide {
  display: none;
}

.products-list-header .same-as-selected {
  background-color: #dcebf5;
}
.products-list-header .select-items div:hover {
  background-color: #f5f4dc;
  font-weight: bolder;
}

/*-------------------*/
