
/* Color Theme Swatches in Hex */
.color-1-hex { color: #333333; }
.color-2-hex { color: #F5F4DC; }
.color-3-hex { color: #F5F5F5; }
.color-4-hex { color: #DCEBF5; }
.color-5-hex { color: #97A2A8; }


/* #9BBDF7 box */

/* #E4EAF5 acc #DCE7FA */

:root {
  /* https://color.adobe.com/ru/create/colorwheel */
  /*--background-color: #ECF3FF;*/

  --background-color: #e6f1f8;
  
  --box-color: #FFFFFF;
  --page-header-color: #cadae4;

  --accardion-background-color: #fff;
  --accardion-color: #fff;
  --accardion-active-color: #fff;

  --navbar-background-color: #333;



  /*  #e6f1f8 */
      
}
