@media screen and (max-width: 600px) {
  .topnav-base-block {
    /*display: none !important;*/
  }

  #itopnav {
    /*top: 0px;*/
    /*position: fixed;*/
    /*height: 50px;*/
    background-color: rgba(47, 38, 38, 0.03) !important;
  }

  a.gamburger-smart-icon {
    top: 0px;
    background-color: rgba(47, 38, 38, 0.03) !important;
    border-radius: 50%;
    height: 50px !important;
    width: 50px !important;
    color: #020202;
  }

  a.gamburger-smart-icon:hover {
    background-color: rgba(47, 38, 38, 0.05) !important;
  }

  #itopnav:hover,
  .topnav a:hover {
    /*background-color: #84a9bf00;**/
  }

  #main {
    /*margin-top: 153px;*/
  }
}
