.productpage-rigthbar-container {
  /*position: fixed; add margin-left to #main ~400px */
  margin-top: 100px;
  margin-bottom: 40px;
  margin-right: 25px;
  padding: 15px 15px;

  /*background-color: #c8d2e6; /*fb*/
  background-color: inherit;
  display: flex;
  flex-direction: column;

  border: 1px solid #333;
  box-shadow: 3px 3px 15px -9px #555;

  row-gap: 25px;
  /* property name | duration | delay */
  transition: margin-left 1s 0.1s;
}

.productpage-rigthbar-container .rigth-box {
  background-color: #97a2a8;
  /*color: #F5F5F5;*/
  color: #333;

  /*box-shadow: 7px 7px 12px -9px #777;*/

  box-shadow: #00000059 0px 5px 15px;

  border: 2px solid #ffffffff;
  border-radius: 3px;

  width: 350px;
  /* Сверху | Справа | Снизу | Слева */
  padding: 5px 25px 25px 25px;
}
