#main {
  justify-content: center;
  align-items: stretch; /* base line */
  align-content: center; /* center */
  margin-bottom: 30px;
}

.product-page-main-container {
  background-color: #fafafa /*!important*/;
  color: #0f1111;

  display: flex;
  flex-direction: column;
  /* multi-lines */
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;
  align-items: stretch; /* base line */
  align-self: center;

  /* отступ*/
  row-gap: 20px; /*  между строками*/
  column-gap: 20px; /* между столбцами */

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 25px;

  box-shadow: 7px 7px 12px -9px #777;
}

.product-page-center-container {
  width: 75%;
}

/* picture, filter , description  */
.product-page-product-info {
  display: flex;
  flex-direction: row;
}

/* relative products */
/*
in relative-products.css
.product-page-relative-products {
}
*/

/*  shop marketing */
.rigth-bar-container {
  display: flex;
}

/* slider + content container */
.product-page-product-info {
  /*background-color: aquamarine;*/
  width: 100%;
}

.product-page-product-info .product-info-content {
  /*background-color: #8cc0db;*/
  padding-left: 20px;
}

/* star + rating + answers*/
.product-page-product-info .rating-container {
  /*background-color: burlywood;*/
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

/* stars rating*/
.product-page-product-info .star-rating {
  color: #97a2a8;
  background-color: none;
}

.product-page-product-info .star-rating > .checked {
  color: goldenrod;
  background-color: none;
}

h1.product-info-header {
  margin: 0 0 0 0;
}

a.brand-link {
  font-size: 14px;
  line-height: 20px;
}

.product-info-content-gray-line {
  width: 100%;
  border-bottom: 1px solid #e4e0e0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.price-info-container {
  /*background-color: chocolate;*/
  color: #0f1111;
}

.price-info-container div {
  font-size: 16px;
  line-height: 20px;
}

.price-info-note {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.price-info-note-left {
  min-width: 70px;
  /*background-color: brown;*/
  text-align: right;
}

.price-info-note-right {
  width: 200px;
  /*background-color: blueviolet;*/
}

.price-info-note-was-price {
  text-decoration: line-through;
}

.price-info-note-price {
  color: #b12704;
  font-weight: bolder;
}

.price-info-note-save {
  color: #b12704;
}

.product-info-filters-container {
}

.product-info-filter {
}
