#main {
  justify-content: center;
  align-items: stretch; /* base line */
  align-content: center; /* center */
  margin-bottom: 30px;
}

.product-page-main-container {
  background-color: #fafafa !important;
  color: #0f1111;

  display: flex;
  flex-direction: column;
  /* multi-lines */
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;
  align-items: stretch; /* base line */
  align-self: center;

  /* отступ*/
  row-gap: 20px; /*  между строками*/
  column-gap: 20px; /* между столбцами */

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 150px;

  box-shadow: 7px 7px 12px -9px #777;
}

.product-page-center-container {
  width: 75%;
}

/* picture, filter , description  */
.product-page-product-info {
  display: flex;
  flex-direction: row;
}

/* tabs for product page*/
.product-page-tabs {
}

/* relative products */
.product-page-relative-products {
}

/*  shop marketing */
.rigth-bar-container {
  display: flex;
}

/* slider + content container */
.product-page-product-info {
  background-color: aquamarine;
}

.product-page-product-info .product-info-content {
  background-color: #8cc0db;
}

/* star + rating + answers*/
.product-page-product-info .rating-container {
  background-color: burlywood;
}

/* stars rating*/
.product-page-product-info .star-rating {
  color: #97a2a8;
  background-color: none;
}

.product-page-product-info .star-rating > .checked {
  color: goldenrod;
  background-color: none;
}

h1.product-info-header {
  margin: 0 0 0 0;
}

a.brand-link {
  font-size: 14px;
}
